body {
    margin: 0;
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial", sans-serif;
    background-color: #eee;
}

.girly {
    font-family: "The Girl Next Door", "Helvetica Neue","Helvetica","Arial", sans-serif;
}
